@import '../../App.variables.scss';

.signup-form {
  padding: 30px 0;
  min-height: $min-height;
  background-color: $dark-grey;

  .form {
    margin: 0 auto;
    padding: 45px 50px;
    max-width: 28%;
    font-size: $text-font;
    font-weight: normal;
    text-align: center;
    color: $brown;
    background-color: $milk;
    border-radius: 8px;

    .form-complete {
      margin-bottom: 22px;
      animation: transfusion 0.8s infinite alternate;

      @keyframes transfusion {
        from {
          color: green;
        }
        to {
          color: greenyellow;
        }
      }
    }

    .form-title {
      margin-bottom: 32px;
      font-size: $title-font;
    }

    .form-error {
      margin-left: 8px;
      position: relative;
      bottom: 14px;
      font-size: $subtitle-font - 5px;
      color: red;

      &.none {
        display: none;
      }
    }

    .form-input {
      margin-bottom: 22px;
      padding: 6px 12px;
      height: 36px;
      width: 100%;
      display: block;
      background-color: #fff;
      border-radius: 8px;
      border: 1px solid rgb(214, 214, 214);

      &.input-text::placeholder,
      &.input-mail::placeholder,
      &.input-phone::placeholder {
        font-size: $placeholder;
        opacity: 0.5;
      }

      &.input-phone {
        margin-bottom: 32px;
      }

      &.input-error,
      &.input-mail:invalid {
        border-color: red;
      }
    }

    .btn-register {
      margin-bottom: 22px;
      display: block;
      font-size: $descr-font + 2px;
      opacity: 0.85;
      text-decoration: underline;
    }

    .btn-submit {
      margin: 0 auto;
      padding: 10px 22px;
      display: block;
      color: $brown;
      background-color: goldenrod;
      border: none;
      border-radius: 9px;

      &:hover {
        animation: bounce 0.8s infinite alternate;

        &:disabled {
          animation: none;
        }
      }

      &:disabled {
        color: rgba(0, 0, 0, 0.6);
      }

      @keyframes bounce {
        from {
          transform: scale(1);
        }
        to {
          transform: scale(1.05);
        }
      }
    }
  }
}
