@import '../../App.variables.scss';

.list {
  padding: 30px 0;
  min-height: $min-height;
  background-color: $dark-grey;

  .btns-container {
    margin-bottom: 25px;
    display: flex;
    justify-content: center;
  }

  .list-warning {
    margin-bottom: 20px;
    font-size: $title-font;
    font-weight: bold;
    text-align: center;
  }

  .items-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    row-gap: 40px;
  }
}
