@import '../../App.variables.scss';

.not-found {
  padding: 120px 0;
  flex-shrink: 0;
  flex-grow: 1;
  font-weight: bold;
  color: #fff;
  text-align: center;
  background-color: $dark-grey;

  h2 {
    font-size: $header * 3;
  }

  p {
    margin-bottom: 12px;
    font-size: $big-title;

    &:last-of-type {
      font-size: $text-font;
      font-weight: 300;
    }
  }
}
