@import '../../App.variables.scss';

.favourites {
  padding: 30px 0;
  flex-shrink: 0;
  flex-grow: 1;
  background-color: $dark-grey;

  .favourites-list {
    margin-bottom: 32px;
    display: flex;
    flex-flow: column wrap;
    gap: 12px;
  }

  .favourites-warning {
    margin-bottom: 20px;
    font-size: $title-font;
    font-weight: bold;
    text-align: center;
  }
}
