@import '../../App.variables.scss';

.search-form {
  margin: 0 auto;
  margin-bottom: 15px;
  padding: 10px 22px;
  width: 370px;
  display: flex;
  background-color: $grey;
  border-radius: 20px;

  .search-img {
    margin-right: 8px;
    height: 20px;
    width: 20px;
    filter: invert(28%) sepia(26%) saturate(306%) hue-rotate(25deg) brightness(94%) contrast(88%);
  }

  .search-bar {
    width: 90%;
    background-color: transparent;
    border: none;

    &::placeholder {
      font-size: $placeholder;
      color: $brown;
      opacity: 0.8;
    }
  }
}
