$brown: #36311D; //header footer
$light-brown: #D0A576;
$dark-green: #605F33;
$dark-grey: #7E7F6A; //main list
$grey: #AEAFA6;

$descr-font: 14px;
$text-font: 18px;
$subtitle-font: 20px;
$title-font: 26px;
$big-title: 36px;
$header: 60px;
$placeholder: 18px;

$min-height: 79.2vh;

/* Roboto
  100 100i
  300 300i
  normal normal-i
  bold
*/
